p.blocktext
{         
          margin-left: auto;
          margin-right: auto;
          width: 36em;
          font-size: 22pt;
		  font-family: broadway;
		  font-weight:bold;	  
}

#nav {
width:700px;
	margin-left:460px;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; }
	
	#nav li {
	    position: relative;
		list-style: none;
		float:center;
		margin-left: 180px;
		display: inline-block;
        font: 600 25px chiller,Arial;
		text-shadow: 5px 5px 5px #0A86EB;
		padding: 10px 12px 10px;
		border-style: none;
		border-radius:10px;
		background-color: #008B8B;
		margin: 0 5px 0 5px;
		box-shadow: 0px 5px 20px #000000;
		
		
	}
	
img
{         width:1090px;
          height:588px; 
		display: block;
        margin-left: auto;
        margin-right: auto;
	
	
}

h1
{        font-family: elephant; 
         font-size: 16pt;
         font-weight: bold;		 
		 text-align: center; 
		 color: #2E2E2E;
}		  